<div class="list-feedback">

  <h1>Danh sách Feedback</h1>

  <table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Feedback</th>
            <th>Question</th>
            <th>AI Response</th>
            <th>Rating</th>
            <th>Request Type</th>
            <th>Management</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listChatReview; let i = index">
        <td>{{count + i+1}}</td>
        <td>{{item.content}}</td>
        <td>{{item.messageRequest}}</td>
        <td>{{item.messageResponse}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.type}}</td>
        <td><button class="btn-delete" (click)="deleteReview(item.id)">Xóa</button></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button *ngFor="let page of totalPages" (click)="changePage(page)">{{page}}</button>
  </div>
</div>
