 <div class="user-manager u-manager" style="margin-top: 50px;">
  <div class="user-manager-header">
    <h3 class="user-manager-header-title">Danh sách role</h3>
    <button class="btn-action-dv blue" (click)="openModalCreate()" *ngIf="action.create">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="5" width="2" height="12" rx="1" fill="white"/>
        <rect x="12" y="5" width="2" height="12" rx="1" transform="rotate(90 12 5)" fill="white"/>
      </svg>
      Tạo mới
    </button>
  </div>

  <div class="user-manager-body">
    <div class="user-manager-body-search">
      <div class="user-manager-body-search-item">
        <h3 class="user-manager-body-search-item-title">Trạng thái</h3>
        <ng-select
          [items]="listStatus1"
          placeholder="Lựa chọn"
          class="user-manager-body-search-item-select"
          bindLabel="name"
          bindValue="id"
          (change)="changeStatus($event)"
          [(ngModel)]="searchBody.status"
          [searchable]="false"
          [clearable]="true"
        >
          <ng-template ng-option-tmp let-item="item">
            <div [style.color]="item.color">{{item.name}}</div>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <b [style.color] = "item.color" >{{item.name}}</b>
          </ng-template>
        </ng-select>
      </div>
      <div class="user-manager-body-search-item" style="width: 279px;">
        <h3 class="user-manager-body-search-item-title">Từ khóa</h3>
        <input type="text"  class="form-control w-100 input-sm overflow-dot place_text" [(ngModel)]="searchBody.textSearch"
               placeholder="Nhập mã hoặc tên role" 
                matTooltipClass="material-tooltip"
        >
      </div>
      <div class="user-manager-body-search-item" style="justify-content: flex-end">
        <button class="btn-action-dv orange" type="button"
        (click)="handleSearch()" (keyup.enter)="handleSearch()">
          Tìm kiếm
        </button>
      </div>
    </div>

    <div class="grid" [style.margin-top]="checkSearch ? '20px': '0'">
      <ag-grid-angular 
        [suppressRowTransform]="true"
        [tooltipShowDelay]="0"
        [suppressRowClickSelection]="true"
        style="width: 100%; min-height: 480px"
        domLayout="{{ rowData.length ? 'autoHeight' : 'normal' }}"
        class="ag-theme-balham"
        [ngClass]="{'set-height-ag-root-wrapper': !rowData.length, 'top': !isShowSearch}"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [headerHeight]="headerHeight"
        [suppressMovableColumns]="true"
        [rowHeight]="rowHeight"
        (gridReady)="onGridReady($event)"
        (gridSizeChanged)="gridSizeChanged($event)"
        [enableCellTextSelection]="true"
      >
      </ag-grid-angular>
    </div>
    <div style="margin-bottom: 32px;">
      <app-pagination 
            [total]="total" 
            [totalPage]="totalPage" 
            [dataLength]="rowData?.length" 
            [pageSize]="pageSize"
            [currentPage]="currentPage" 
            [collapse]="false" 
            (paginate)="search($event)">
      </app-pagination>
    </div>
  </div>
</div>
