.modal-content {
    .modal-header {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #101840;
        margin-top: 20px;

        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: #fff;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        margin-bottom: 30px;

        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #101840;
            margin-top: 15px;
        }
    }

    .modal-body {
      .view-detail{
        h3{
          color: var(--neutral-text-normal-n-800,#474d66);
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          text-transform: uppercase;
        }
        .infomation-prompt{
          .title-prompt{
            display: flex;
            .description-use-prompt, .content-prompt, .prompt-type-prompt, .create-username-prompt{
              display: flex;
              color: var(--neutral-text-muted-n-700,#696f8c);
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              width: 30%;
              margin-bottom: 18px;
            }
            span{
              color: #0026e4;
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              padding-left: 20px;
              width: 70%;
              word-wrap: break-word;
            }
            .span-content{
              color: #148c6c;
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              padding-left: 20px;
              width: 70%;
              word-wrap: break-word;
            }
          }
        }
      }
        
        .list-like{
          h3{
            color: var(--neutral-text-normal-n-800,#474d66);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            text-transform: uppercase;
          }
        }
    }
    .modal-footer{
        position: sticky;
        bottom: 0;
        z-index: 9999;
        background-color: #fff;
        display: flex;
        justify-content: center;
        border-top: 1px solid;
        margin-top: 30px;
        .btn-action{
            display: flex;
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .btn-action-dv{
            width: 105px;
            height: 32px;
            border-radius: 4px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          .gray{
            background: #E6E8F0;
            color: #696F8C;
          }
          .orange{
            background: #330387;
          }
    }
}
:host ::ng-deep{
    .date-custom{
        .ag-header-cell-label{
            justify-content: center;
        }
    }
}

